<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Simple Car CRUD</span>
  </div>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">List Cars</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Model</th>
              <th scope="col">Brand</th>
              <th scope="col">Color</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              <td>{{car.id}}</td>
              <td>{{car.model}}</td>
              <td>{{car.brand}}</td>
              <td>{{car.color}}</td>
              <td>{{car.price | currency}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editCar(car)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-car">
      <h5 class="card-header">Add/Update Car</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveCar(f)" #f="ngForm" novalidate>
            
            <div class="form-group">
                <label for="model">Model</label>
                
                <input type="text"
                       [(ngModel)]="car.model"
                       id="model"
                       name="model"
                       #model="ngModel"
                       required
                       class="form-control"
                       [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
                       placeholder="Digite o modelo">
                
                <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                    <div *ngIf="model.errors.required">Model is required</div>
                </div>
            </div>

            <div class="form-group">
              <label for="brand">Brand</label>
              
              <input type="text" 
                    [(ngModel)]="car.brand"
                    id="brand"
                    name="brand"
                    #brand="ngModel"
                    required
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.submitted && brand.invalid }"
                    placeholder="Digite a marca">
              
              <div *ngIf="f.submitted && brand.invalid" class="invalid-feedback">
                  <div *ngIf="brand.errors.required">Brand is required</div>
              </div>
            </div>

            <div class="form-group">
                <label for="color">Color</label>
                
                <input type="text"
                       [(ngModel)]="car.color"
                       id="color"
                       name="color"
                       #color="ngModel"
                       required
                       class="form-control"
                       [ngClass]="{ 'is-invalid': f.submitted && color.invalid }"
                       placeholder="Digite a cor">
                
                <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                    <div *ngIf="color.errors.required">Color is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                
                <input type="number"
                       [(ngModel)]="car.price"
                       id="price"
                       name="price"
                       #price="ngModel"
                       required
                       class="form-control"
                       [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
                       placeholder="Digite o preço">
                
                <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                    <div *ngIf="price.errors.required">Price is required</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-add-car">Save</button>
            <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancel</button>
          </form>
      </div>
    </div>
</div>